.mountain
  position: relative
  min-height: 960px
  -webkit-backface-visibility: hidden
  // will-change: transform
  &-scene
    margin: 0
    padding: 0
    list-style: none
  .layer
    width: 100%
    height: 100%
  &-item
    position: absolute
    left: 0
    right: 0
    &-1
      top: 0
      left: -10%
      right: -10%
      height: 1129px
      background: url('../img/mountains_down.png') no-repeat center bottom / cover
    &-2
      top: 20px
      right: -10%
      left: -10%
      height: 1200px
      background: url('../img/mountains_up.png') no-repeat center / cover
    &-3
      top: 50px
      right: -5%
      height: 1129px
      background: url('../img/mountains_right.png') no-repeat center bottom / cover
    &-4
      top: 50px
      left: -5%
      height: 1129px
      background: url('../img/mountains_left.png') no-repeat center bottom / cover

+media-breakpoint-down(md)
  .mountain-item-1
    top: 10px
    left: -7%

+media-breakpoint-down(sm)
  .mountain
    min-height: 400px
    &-item
      &-1, &-2, &-3, &-4
        height: 500px