.parallax
  position: absolute
  z-index: -1

.sputnik
  top: -130px
  right: 80%

.meduza
  bottom: -100px
  left: 80%

.moon
  left: 83%
  bottom: -120px

.skulpture
  left: 50%
  bottom: -370px
  z-index: 0

+media-breakpoint-down(lg)
  .skulpture
    left: 30%

+media-breakpoint-down(sm)
  .parallax
    display: none