<section class="advantages" id="advantages">
  <div class="container">
    <div class="advantages__head">
      <h2 class="section-title">Наши сайты загрузят ваш отдел продаж на <span>101%</span></h2>
      <p class="section-desc">Инструменты для продаж которые проектируем мы, продают с конверсией от 11%, а в сочетании с нашей рекламой вы получите интернет бизнес под ключ в два клика.</p>
    </div>

    <ul class="advantages-list">

      <li class="advantages-list__item">
        <div class="advantages-list__icon">
          <img src="img/icon-advantages-1.png" alt="">
        </div>
        <h3>Digital</h3>
        <p>Специалисты UX и UI дизайна <br>знают что будет продавать</p>
      </li>

      <li class="advantages-list__item">
        <div class="advantages-list__icon">
          <img src="img/icon-advantages-2.png" alt="">
        </div>
        <h3>Креативные концепции</h3>
        <p>Только уникальный дизайн, без шаблонов</p>
      </li>

      <li class="advantages-list__item">
        <div class="advantages-list__icon">
          <img src="img/icon-advantages-3.png" alt="">
        </div>
        <h3>Web - программирование</h3>
        <p>Наши сайты пушкой попадают в ТОП выдачи благодаря правильному коду</p>
      </li>

      <li class="advantages-list__item">
        <div class="advantages-list__icon">
          <img src="img/icon-advantages-4.png" alt="">
        </div>
        <h3>Электронная коммерция</h3>
        <p>Подключим VISA, 1C, настроим автоматизации.</p>
      </li>

      <li class="advantages-list__item">
        <div class="advantages-list__icon">
          <img src="img/icon-advantages-5.png" alt="">
        </div>
        <h3>Продвижение</h3>
        <p>От контекстной рекламы до СЕО продвижения, работаем по KPI</p>
      </li>

      <li class="advantages-list__item">
        <div class="advantages-list__icon">
          <img src="img/icon-advantages-6.png" alt="">
        </div>
        <h3>Поддержка</h3>
        <p>По телефону с 10 до 19, по почте 24 часа</p>
      </li>

    </ul>
  </div>
  <!-- /.container -->
</section>
<!-- /.advantages -->