<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="section-title">Наши <br>контакты</h2>
        <div class="contact__content">
          <div class="contact__phone phone">
            <a href="tel:84951200213" class="phone__link">8 (495) 120-02-13</a><br>
            <a href="mailto:roi.consulting.ru@gmail.com" class="phone__email">roi.consulting.ru@gmail.com</a>
          </div>
          <p>Москва, Талалихина 41 стр 21 офис 300</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="contact__form">
          <h3>Задайте вопрос</h3>
          <p>и получите лучшее предложение</p>

          <form class="form form--hr repeat-form">
            <div class="form-group">
              <input type="text" name="name" class="form__field" placeholder="Имя" required>
            </div>
            <div class="form-group">
              <input type="tel" name="phone" class="form__field" placeholder="Телефон" required>
            </div>
            <div class="form-group form-group--textarea">
              <textarea name="message" class="form__textarea" placeholder="Ваше сообщение" required></textarea>
            </div>
            <div class="form-group form-group--btn">
              <button type="submit" class="btn form__btn">Отправить</button>
            </div>
            <input type="hidden" name="subject" value="Вопрос">
            <input type="hidden" name="r2d2">
          </form>
        </div>
      </div>

    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.contact -->