<section class="faq" id="faq">
  <div class="container">
    <div class="faq__head">
      <h2 class="section-title">ТОП 5 <br>ответов на самые часто задаваемые вопросы</h2>
      <p class="section-desc">Ответы на вопросы помогут Вам определиться!</p>
    </div>

    <ul class="faq-list">
      <li class="faq-list__item">
        <div class="faq-list__number">01</div>
        <h3>Почему нет цен?</h3>
        <div class="faq-list__content">
          <p>К каждому проекту наша команда подходит индивидуально. У вас свои требования к дизайну, цвету, срокам, наполнению сайта и прочих важных нюансов. Цена формируется уже при первом звонке.</p>
        </div>
      </li>
      <li class="faq-list__item">
        <div class="faq-list__number">02</div>
        <h3>У меня небольшой бюджет, что делать?</h3>
        <div class="faq-list__content">
          <p>Мы предлагаем вам рассрочку до 6 месяцев без процентов или подберем решение исходя из вашего бюджета. Также обращаем внимание, что качественная работа не может стоить ниже 25 000 рублей.</p>
        </div>
      </li>
      <li class="faq-list__item">
        <div class="faq-list__number">03</div>
        <h3>Можно подарок или скидку?</h3>
        <div class="faq-list__content">
          <p>Их есть у нас =) К любому нашему сайту  контекстную рекламу мы настраиваем в подарок! Также вы получите дополнительную скидку в 5% на все наши услуги, от рекламы до полиграфии.</p>
        </div>
      </li>
      <li class="faq-list__item">
        <div class="faq-list__number">04</div>
        <h3>Хочу встретиться и обсудить проект?</h3>
        <div class="faq-list__content">
          <p>Будем Вам только рады! Но для начала нужно определить цели нашей встречи и в этом нам поможет небольшая анкета которую мы вам направим. После чего мы сформируем цену и будем ждать вас в согласованное время.</p>
        </div>
      </li>
      <li class="faq-list__item">
        <div class="faq-list__number">05</div>
        <h3>Сроки или когда будет готов мой сайт?</h3>
        <div class="faq-list__content">
          <p>Разработка простого проекта занимает не более 20 рабочих дней с момента оплаты, но бывают и более сложные решения требующие больших временных затрат.</p>
        </div>
      </li>
    </ul>
    <!-- /.faq-list -->
  </div>
  <!-- /.container -->

  <img src="img/moon.png" alt="" class="parallax moon">
</section>
<!-- /.faq -->