<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="#top" class="logo">
        <img src="img/logo.svg" width="210" height="30" alt="ROI Consulting" class="logo__desctop">
        <img src="img/logo-mobile.svg" width="60" height="30" alt="ROI Consulting" class="logo__mobile">
      </a>
      <nav class="header__nav nav">
        <ul class="nav-list">
          <li><a href="#services">Услуги</a></li>
          <li><a href="#portfolio">Портфолио</a></li>
          <li><a href="#advantages">Решения</a></li>
          <li><a href="#faq">ЧаВо</a></li>
        </ul>

        <div class="nav__phone phone">
          <a href="tel:84951200213" class="phone__link">8 (495) 120-02-13</a>
          <a href="#" class="phone__callback callback_open">Обратный звонок</a>
        </div>
      </nav>
      <div class="header__phone phone">
        <a href="tel:84951200213" class="phone__link">8 (495) 120-02-13</a><br>
        <a href="#" class="phone__callback callback_open">Обратный звонок</a>
      </div>

      <button class="nav-toggle">
        <span class="nav-toggle__line"></span>
      </button>
    </div>
  </div>
</header>