<section class="mountain">
  <ul class="mountain-scene" id="scene">
    <li class="layer" data-depth="0.0"></li>
    <li class="layer" data-depth="0.2">
      <div class="mountain-item mountain-item-4"></div>
    </li>
    <li class="layer" data-depth="0.2">
      <div class="mountain-item mountain-item-3"></div>
    </li>
    <li class="layer" data-depth="0.15">
      <div class="mountain-item mountain-item-2"></div>
    </li>
    <li class="layer" data-depth="0.1">
      <div class="mountain-item mountain-item-1"></div>
    </li>
  </ul>
</section>
<!-- /.mountain -->