<section class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="section-title">Примеры наших работ</h2>
    <p class="section-desc">Мы практикуем исключительно индивидуальный подход и отталкиваемся <br>от маркетинговых целей и задач клиента.</p>

  </div>
  <!-- /.container -->

  <div class='portfolio-list'>
    <ul class="portfolio-list__tabs">
      <li><a href="#all">Все</a></li>
      <li><a href="#landing">Лендинг пейдж</a></li>
      <li><a href="#shop">Интернет магазин</a></li>
      <li><a href="#corporate">Корпоративные сайты</a></li>
      <li><a href="#vizitka">Сайт визитка</a></li>
    </ul>

    <div id='all' class="portfolio-list__item">
      <div class="portfolio-slider swiper-container">
        <div class="swiper-wrapper">
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/landing-1.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/landing-2.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/landing-3.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/landing-4.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/shop-1.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/shop-2.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/shop-3.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/corporate-1.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/corporate-2.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/corporate-3.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/corporate-4.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/visitka-1.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/visitka-2.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/visitka-3.jpg" alt="" class="portfolio-slider__img">
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <div id='landing' class="portfolio-list__item">
      <div class="portfolio-slider swiper-container">
        <div class="swiper-wrapper">
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/landing-1.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/landing-2.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/landing-3.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/landing-4.jpg" alt="" class="portfolio-slider__img">
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <div id='shop' class="portfolio-list__item">
      <div class="portfolio-slider swiper-container">
        <div class="swiper-wrapper">
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/shop-1.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/shop-2.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/shop-3.jpg" alt="" class="portfolio-slider__img">
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
    <div id='corporate' class="portfolio-list__item">
      <div class="portfolio-slider swiper-container">
        <div class="swiper-wrapper">
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/corporate-1.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/corporate-2.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/corporate-3.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/corporate-4.jpg" alt="" class="portfolio-slider__img">
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
    <div id='vizitka' class="portfolio-list__item">
      <div class="portfolio-slider swiper-container">
        <div class="swiper-wrapper">
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/visitka-1.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/visitka-2.jpg" alt="" class="portfolio-slider__img">
          </div>
          <div class="portfolio-slider__item swiper-slide" data-simplebar>
            <img src="img/content/visitka-3.jpg" alt="" class="portfolio-slider__img">
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
  <!-- /.portfolio-list -->

  <div class="section-form" id="order-form">
    <div class="container">
      <h3>Закажи сайт который уже завтра <br>начнет приносить деньги!</h3>
      <p class="section-desc">Обращаясь к нам Вы получаете сайт с гарантией окупаемости, рекламу для сайта, рекомендации по продвижению и поддержку 7 дней в неделю.</p>

      <div class="section-form__form">
        <form class="form form--hr repeat-form">
          <div class="form-group">
            <input type="text" name="name" class="form__field" placeholder="Имя" required>
          </div>
          <div class="form-group">
            <input type="tel" name="phone" class="form__field" placeholder="Телефон" required>
          </div>
          <div class="form-group form-group--btn">
            <button type="submit" class="btn form__btn">Отправить</button>
          </div>
          <input type="hidden" name="subject" value="Заявка с портфолио">
          <input type="hidden" name="r2d2">
        </form>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.section-form -->

  <img src="img/sputnik.png" alt="" class="parallax sputnik">

</section>
<!-- /.portfolio -->