<section class="services" id="services">
  <div class="container">

    <div class="services__wrap">
      <h2 class="section-title">Мы делаем</h2>

      <div class="services-list row">
        <div class="services-list__item col-sm-6 col-xl-4">
          <div class="services-list__inner">
            <div class="services-list__icon services-list__icon--orange">
              <img src="img/icon-services-1.svg" width="90" height="80" alt="">
            </div>
            <h3>Лендинг пейдж</h3>
            <p>Создаем инструменты для продаж <br>в интернете.</p>
            <p>Ваш сайт будет приносить заявки</p>
            <a href="#order-form" class="btn-trs">Заказать</a>
          </div>
        </div>
        <div class="services-list__item col-sm-6 col-xl-4">
          <div class="services-list__inner">
            <div class="services-list__icon services-list__icon--green">
              <img src="img/icon-services-2.svg" width="80" height="80" alt="">
            </div>
            <h3>Интернет магазин</h3>
            <p>Продает по-взрослому.</p>
            <p>Объёмные продажи <br>многочисленной аудитории</p>
            <a href="#order-form" class="btn-trs">Заказать</a>
          </div>
        </div>
        <div class="services-list__item col-sm-6 col-xl-4">
          <div class="services-list__inner">
            <div class="services-list__icon services-list__icon--purple">
              <img src="img/icon-services-3.svg" width="80" height="80" alt="">
            </div>
            <h3>Корпоративные сайты</h3>
            <p>Упаковка Вашего бизнеса <br>под ключ</p>
            <a href="#order-form" class="btn-trs">Заказать</a>
          </div>
        </div>
        <div class="services-list__item col-sm-6 col-xl-4">
          <div class="services-list__inner">
            <div class="services-list__icon services-list__icon--pink">
              <img src="img/icon-services-4.svg" width="80" height="80" alt="">
            </div>
            <h3>Сайт визитка</h3>
            <p>Познакомим Вас с клиентами.</p>
            <p>Отличный способ заявить о себе интернет-аудитории</p>
            <a href="#order-form" class="btn-trs">Заказать</a>
          </div>
        </div>
      </div>

      <div class="services__count">
        <p class="services__count--number"><span class="counter">99</span>%</p>
        <p class="services__count--desc">Довольных клиентов <br>стали нашими партнерами <br>и рекомендуют нас</p>
      </div>
    </div>

  </div>
  <!-- /.container -->
  <img src="img/star-ship.png" alt="" class="parallax parallax-ship">
</section>
<!-- /.services -->